@model IEnumerable<Draftkings.Ownership.Models.ContestScrapeStatus>

@{
    ViewBag.Title = "Selected Contests to Scrape";
}

<h2>@ViewContext.RouteData.Values["id"]</h2>

<p>
    @Html.ActionLink("Create New", "Create") |  
    @Html.ActionLink("Rerun Contest Selection", "MCS", "Manual", new { id=@ViewContext.RouteData.Values["id"] }, null) | 
    @Html.ActionLink("Fetch Entries", "GF", "Manual", new { id=@ViewContext.RouteData.Values["id"] }, null) | 
    @Html.ActionLink("Fetch Ownership", "GO", "Manual", new { id=@ViewContext.RouteData.Values["id"] }, null) | 
    @Html.ActionLink("All Three", "All", "Manual", new { id=@ViewContext.RouteData.Values["id"] }, null) | 
</p>

<table class="table">
    <tr>
        <th>
            Contest Link
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContestId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContestGroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialEntryIdScrape)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalEntryIdScrape)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOwnershipCollected)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Link", "Details", "Contests", new { id=item.ContestId }, null) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContestId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContestGroupId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialEntryIdScrape)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalEntryIdScrape)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOwnershipCollected)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContestId })
        </td>
    </tr>
}

</table>
